<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SMS_Gateway.Properties.Settings.cateringConnectionString"
            connectionString="server=localhost;user id=admin;Password=password;persist security info=True;database=catering"
            providerName="MySql.Data.MySqlClient" />
        <add name="SMS_Gateway.Properties.Settings.cateringConnectionString1"
            connectionString="server=localhost;user id=root;Password=rahasia;persist security info=True;database=catering"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>